<!DOCTYPE html>
<!-- language configuration_________________________________________________ -->
<!-- <html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}"> -->
<!-- _______________________________________________________________________ -->

<!-- HEAD_______________________ -->
  {{ partial "head.html" . }}
<!-- ___________________________ -->



<!-- BODY_______________________ -->
  <body>
    {{ partial "header.html" . }}

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
<!-- ___________________________ -->

</html>
